<div class="layout layout--col layout--stretch">
  <div class="columns">
    <div class="column" data-list-max-columns="3" data-list-limit="true">
      {% assign month = '' %}

      {% for event in data %}

      {% assign current_month = event.start | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m" %}

      {% if month != current_month %}
      <span class="label label--small label--inverted group-header">{{ event.start | date: "%s" | plus: trmnl.user.utc_offset | date: "%B" }}</span>
      {% assign month = current_month %}
      {% endif %}

      <div class="item">
        <div class="meta w--6">
          <span class="index">{{ event.start | date: "%s" | plus: trmnl.user.utc_offset | date: "%-d" }}</span>
        </div>

        <div class="content">
          <span class="title title--small">{{ event.title }}</span>

          <div class="flex">
            {% if event.start contains 'T' %}
            <span class="label label--small label--underline">
              {{ event.start | date: "%s" | plus: trmnl.user.utc_offset | date: "%H:%M" }}
              –
              {{ event.end | date: "%s" | plus: trmnl.user.utc_offset | date: "%H:%M" }}
            </span>
            {% endif %}

            {% if event.address %}
            <span class="label label--small stretch">
              {{ event.address }}
            </span>
            {% endif %}
          </div>

          {% if event.description %}
          <span class="description">
            {{ event.description }}
          </span>
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
